<a href="https://colab.research.google.com/github/Christian77s/tugas/blob/main/Welcome_to_Colab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [8]:
import pandas as pd
from google.colab import files

In [2]:
df=pd.read_excel("/content/UAS Data E-commerce.xlsx")
df.head

<bound method NDFrame.head of       Product_Price  Discount_Rate  Product_Rating  Number_of_Reviews  \
0        199.671415       0.177024        4.411071               62.0
1        136.173570       0.041467        3.033534              201.0
2        214.768854       0.276197        2.866881              479.0
3        302.302986       0.094254        4.473473              252.0
4        126.584663       0.411845        3.553082              671.0
...             ...            ...             ...                ...
1995     257.015024       0.098708        3.805205              398.0
1996            NaN       0.679901        3.340395              788.0
1997      61.812535       0.081616        2.736741              297.0
1998     133.693304       0.346151        3.246759              467.0
1999      75.509736       0.669742        3.226297               56.0

      Stock_Availability  Days_to_Deliver  Return_Rate  Category_ID
0                    1.0              9.0     0.185116          5.0
1                    1.0              3.0     0.384639         10.0
2                    1.0             19.0     0.056410          4.0
3                    1.0             11.0          NaN          7.0
4                    1.0             14.0     0.672163          6.0
...                  ...              ...          ...          ...
1995                 1.0              7.0          NaN          5.0
1996                 NaN             17.0     0.195181         10.0
1997                 1.0              7.0     0.293520          7.0
1998                 1.0              6.0     0.362834          8.0
1999                 1.0              5.0     0.204589          3.0

[2000 rows x 8 columns]>

In [4]:
df.isnull().sum()

Product_Price         100
Discount_Rate         100
Product_Rating        100
Number_of_Reviews     100
Stock_Availability    100
Days_to_Deliver       100
Return_Rate           100
Category_ID           100
dtype: int64

In [5]:
df_imputed = df.fillna(df.mean())

In [7]:
df_imputed.isnull().sum()

Product_Price         0
Discount_Rate         0
Product_Rating        0
Number_of_Reviews     0
Stock_Availability    0
Days_to_Deliver       0
Return_Rate           0
Category_ID           0
dtype: int64

In [9]:
# Save the dataframe to a CSV file
df_imputed.to_csv('imputed_dataset.csv', index=False)

# Download the file
files.download('imputed_dataset.csv')